.form {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100%;
  height: 100%;
}

.inputForm {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 7px;

  overflow: hidden;

  & > input {
    background: none;
    height: 25px;
    border-bottom: var(--border);

    &::placeholder {
      color: black;
      opacity: 0.8;
    }
    &:focus {
      background: khaki;
      outline: none;
    }
    &:hover {
      background: khaki;
    }
  }

  & > span {
    /* background: aqua; */
    font-weight: bold;
    padding-top: 2px;
    opacity: 1;
    font-size: 11px;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.buttonForm {
  /* background: red; */
  display: flex;
  flex-direction: row-reverse;

  & > button {
    background: yellow;
    border: var(--border);
    border-radius: 10px;
    height: 30px;
    width: 130px;

    &:hover {
      background: rgb(216, 216, 54);
    }
  }
}
