.base {
  background: var(--color-e);
  background-image: var(--acc-bg-img);
  background-size: var(--bg1-sz);

  display: flex;

  justify-content: center;
  align-items: center;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

.access_layout {
  background: var(--acc-bg-form);
  border: var(--border);
  border-radius: var(--border-r-18);
  width: 400px;
  height: 300px;
  padding: 15px;
}

.page_container {
  /* background: #9eb646; */
  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;
  height: 200px;

  input:focus {
    outline: none;
  }
}

/* .google_button {
  background: red;
} */
