.timer {
  display: grid;
  background: var(--brown-2);
  grid-template-rows: 23px auto 10px;
  & > div {
    border-bottom: var(--border-1);
  }
  width: 100%;
  overflow: hidden;
}
.header {
  height: 100%;
  background: var(--brown-5);
}
.body {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  & > *:not(:last-child) {
    border-bottom: var(--border-1);
  }
}
.footer {
  background: var(--black);
}
@media (min-width: 1024px) {
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    & > *:not(:last-child) {
      border-right: var(--border-1);
      border-bottom: none;
    }
  }
}
