@font-face {
  font-family: 'MuseoModerno';
  src: url('../assets/font/MuseoModerno/MuseoModerno-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MuseoModero';
  src: url('../assets/font/MuseoModerno/MuseoModerno-Bold.woff2')
    format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
