html,
body {
  font-family: "MuseoModerno", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  margin: 0px;
  padding: 0px;

  overflow: hidden;

  background: var(--light-brown);
  box-shadow: 0 0 50px 35px var(--dark-brown) inset;

  background-image: radial-gradient(#5a503b 1px, transparent 1px);
  background-size: 25px 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* SVG ICON */
/* .svg_icon {
  width: var(--size-icon-27);
} */
