html,
body {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  margin: 0px;
  padding: 0px;

  overflow: hidden;
  background: var(--black);

  /* line-height saca los espacios de arriba y de abajo de los textos */
  line-height: 1;

  & h1 {
    margin: 0px;
  }
}

/* TODO: averiguar que hace esto */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page_layout {
  --br-1: var(--border-r-40);

  background: var(--carton-B);
  box-shadow: var(--bg1-bx-shw);
  background-image: var(--bg1-bg-img);
  background-size: var(--bg1-sz);
  border-radius: var(--br-1) var(--br-1) 0 0;

  overflow: hidden;
}

button {
  border: none;
}
