:root {
  --dark-brown: #b49964;
  --light-brown: #d1c09f;
  /* color carton */
  --carton-A: #b49964;
  --carton-B: #d1c09f;
  --carton-C: #5a503b;

  /* colores normales */
  --red: red;
  --black: #000000;
  --white: #ffffff;
  --orange: #ee8800;

  /* fonts */
  --font-RobotoMono: "RobotoMono";
  --font-MuseoModerno: "MuseoModerno";

  /* variables comunes */
  /* --font-family: "MuseoModerno"; */
  /* --border: 1px solid var(--black);
  --border-radius: 8px;
  --seconds: 0.1s;
  --size-icon: 27px;
  --font-size: 13px;
  --bg-color: var(--carton-B);
  --bg-shadow: 0 0 50px 35px var(--carton-A) inset;
  --bg-image: radial-gradient(var(--carton-C) 1px, transparent 1px);
  --bg-image-size: 25px 25px; */

  /* TODO: Esta animacion no me acuerdo para que era */
  --fadeIn: fadeIn var(--seconds-02) ease forwards;
}
