.homepage {
  background: red;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  overflow-y: auto;
}

.testModal1 {
  background: gray;
  width: 500px;
  height: 300px;
}

.testModal2 {
  background: greenyellow;
  width: 800px;
  height: 300px;
}
