.timersGrid {
  display: grid;
  grid-template-rows: 30px auto;
  width: 100%;
  height: 100%;

  & > *:not(:last-child) {
    border-bottom: var(--border-1);
  }
}
.header {
  /* background: red; */
}
.body {
  /* background: yellow; */
  overflow: auto;
}
