.timersGrid {
  display: grid;
  grid-template-rows: 30px auto;
  width: 100%;
  height: 100%;

  & > *:not(:last-child) {
    border-bottom: var(--border-1);
  }
}
.header {
  /* background: red; */
}

.form {
  /* background: green; */
  display: flex;
  height: 100%;
}
.input {
  /* background: rgb(73, 73, 156); */
  width: 100%;
}
.add {
  background: cyan;
  min-width: 80px;
}
.filter {
  background: violet;
  min-width: 80px;
}

.body {
  /* background: yellow; */
  overflow: auto;
}
