.pageContainer {
  --border2: 20px;

  display: grid;
  grid-template-rows: var(--border2) auto;

  border-radius: var(--border2) var(--border2) 0 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  & > *:not(:last-child) {
    border-bottom: var(--border); /* línea de separación horizontal */
  }

  /* background: firebrick; */
  /* padding: 10px; */
}
.pageHeader {
  background: khaki;
  background-color: var(--carton-b);
}
.pageBody {
  background-color: var(--carton-b);
  background-image: var(--bg1-bg-img);
  background-size: var(--bg1-sz);

  display: flex;

  position: relative;

  overflow: hidden;
}
.pageView {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 10px;

  position: absolute;

  opacity: 0;
  pointer-events: none;
}
.pageView.active {
  opacity: 1;
  pointer-events: auto;
}

.modalContainer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.modalContainer.active {
  opacity: 1;
  pointer-events: auto;
}

.modalGrid {
  --border3: 20px;

  background: red;
  display: grid;
  grid-template-rows: var(--border3) auto;

  & > *:not(:last-child) {
    border-bottom: var(--border); /* línea de separación horizontal */
  }

  border-radius: var(--border3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border: var(--border);
  overflow: hidden;
}
.modalHeader {
  background: gold;
}
