/* .pagelayout {
  --br: 20px;

  background-color: var(--carton-b);
  border-radius: var(--br) var(--br) 0 0;

  box-shadow: var(--bg1-bx-shw);
  background-image: var(--bg1-bg-img);
  background-size: var(--bg1-sz);
} */

.pagelayout {
  --border2: 20px;

  display: grid;
  grid-template-rows: var(--border2) auto;

  border-radius: var(--border2) var(--border2) 0 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  & > *:not(:last-child) {
    border-bottom: var(--border); /* línea de separación horizontal */
  }

  background: firebrick;
  padding: 10px;
}

.header {
  background: khaki;
}
.body {
  background: rebeccapurple;
  display: flex;
  padding: 10px;

  position: relative;

  overflow: hidden;
}
.view {
  background: sandybrown;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 10px;

  position: absolute;

  border: var(--border);

  opacity: 0;
  pointer-events: none;
}
.view.active {
  background: red;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: darkcyan;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 20px;

  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.modal.active {
  background: green;
  opacity: 1;
  pointer-events: auto;
}
