.bodyLayout {
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.modal {
  /* background: var(--brown); */
  background: violet;
  width: 90%;
  height: 90%;
  /* filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); */
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius-8);
  border: var(--border-1);
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.view1,
.view2 {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}
.view1 {
  background: cyan;
}
.view2 {
  background: yellow;
}

.storage,
.manage {
  width: 100%;
  height: 100%;
}
.storage {
  background: goldenrod;
}
.manage {
  background: rebeccapurple;
}

/* codigo nuevo */
.view {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  /* opacity: 0.5; */
  pointer-events: none;
  z-index: 0;
}
.visible {
  /* opacity: 1; */
  z-index: 2;
}
