.auth {
  display: flex;
  flex-direction: column;

  background: #346797;
  width: 350px;

  padding: 10px;
}

.page_container {
  background: #9eb646;
  overflow: hidden;
  height: 200px;

  input:focus {
    outline: none;
  }

  & > form {
    display: flex;

    /* height: 180px; */
    flex-direction: column;

    & > * {
      width: 100%;
      height: 30px;
    }
  }
}

.apartado {
  overflow: hidden;
  height: 100px;
}
