@import "../view/view.module.css";

.header {
  /* background: forestgreen; */
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}
.headerButton {
  position: absolute;

  width: 120px;
  height: 100%;

  border-right: var(--access-bdr);

  transition: opacity 0.3s ease;
}

/* Body */
.body {
  position: relative;

  width: 100%;
  height: 100%;
}
.bodyView {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 10px;
}

/* LogOrRegView */
.logOrRegView > div:first-child {
  position: relative;
  height: 100%;
}

.serverResponse {
  padding: 4px 10px;
  font-size: 13px;
}
