.access_view {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.login_register {
  /* background: rebeccapurple; */
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form_container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.button_change_view_container {
  /* background: salmon; */

  position: relative;

  width: 100%;
  height: 40px;
}

.server_response {
  /* background: moccasin; */
  height: 50px;
}

.button_change_view {
  background: orange;
  border: var(--border);
  border-radius: 10px;
  width: 130px;

  &:hover {
    background: #e7a62c;
  }
}

.view {
  position: absolute;

  width: 100%;
  height: 100%;

  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
