html,
body {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  margin: 0px;
  padding: 0px;

  overflow: hidden;
  background: var(--black);

  /* line-height saca los espacios de arriba y de abajo de los textos */
  line-height: 1;

  & h1 {
    margin: 0px;
  }
}

/* TODO: averiguar que hace esto */
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: none;
}

input {
  border: none;
  /* padding: 5px; */
}
