[data-theme="carton"] {
  --access-wth1: 330px;
  --access-hgt1: 390px;

  --access-bg1: var(--color-e);
  --access-bg1-img: radial-gradient(var(--color-c) 2px, transparent 1px);
  --access-bg1-sz: 30px 30px;

  --access-bg2: var(--color-d);
  --access-bdr: var(--border);
  --access-bdr-rd: 18px;
}
/* labtop */
@media (min-width: 1024px) {
  :root {
    --access-bg1-sz: 40px 40px;
    --access-wth1: 400px;
    --access-hgt1: 400px;
  }
}
/* desktop */
@media (min-width: 1680px) {
}

.page {
  background: var(--access-bg1);
  background-image: var(--access-bg1-img);
  background-size: var(--access-bg1-sz);

  display: flex;

  justify-content: center;
  align-items: center;

  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

.page_container {
  background: var(--access-bg2);
  border: var(--access-bdr);
  border-radius: var(--access-bdr-rd);

  display: grid;
  grid-template-rows: 30px auto 40px;

  width: var(--access-wth1);
  height: var(--access-hgt1);

  /* padding: 15px; */
  overflow: hidden;

  & > *:not(:last-child) {
    /* margin-bottom: 10px; */
    border-bottom: var(--access-bdr);
  }
}
.header {
  /* background: forestgreen; */
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}
.headerbutton {
  /* background: saddlebrown; */
  position: absolute;

  width: 120px;
  height: 100%;

  border-right: var(--access-bdr);

  transition: opacity 0.3s ease;
}
/* Body */
.body {
  /* background: red; */
  position: relative;

  width: 100%;
  height: 100%;
}

.bodyView {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 10px;
}
.loginAndRegister {
  /* background: rebeccapurple; */
  /* display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%; */

  /* padding: 10px; */

  .container {
    position: relative;
    height: 100%;
  }
}
.googleRegister {
  /* display: flex;
  flex-direction: column;
  padding: 10px; */
}

/* views */
.view {
  position: absolute;
  /* padding: 10px; */

  width: 100%;
  height: 100%;

  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
