[data-theme="martix"] {
  --border: 2px solid var(--orange);

  /* font */
  --font-family: "RobotoMono";

  /* menu */
  --mnu-bg: none;
  --mnu-bg-ttl: none;
  --mnu-bg-nav: none;
  --mnu-bg-rmd: none;

  --mnu-bg-btn-nav: var(--black);
  --mnu-txt-btn-nav: var(--orange);
  --mnu-bg-btn-nav-hv: var(--orange);
  --mnu-txt-btn-nav-hv: var(--black);

  /* page_layout */
  --pl-bg: var(--black);
  --pl-bx-shw: none;
  --pl-bg-img: none;
  --pl-bg-sz: 0;
  --pl-br-r: 0 0 0 0;

  /* header */
  --hdr-bg: var(--black);
  --hdr-bg-ldg: radial-gradient(
    circle,
    #000000 25%,
    var(--orange) 50%,
    #000000 75%
  );
  --hdr-txt-color: var(--orange);

  /* --bg-color: var(--black);
  --bg-shadow: 0;
  --bg-image: none;
  --bg-image-size: 0; */

  --text-color: var(--orange);
}
