@import "../component.module.css";

.form {
  /* background: green; */

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.button_change_container {
  /* background: salmon; */
  width: 100%;
  height: 40px;
}

.input_form {
  /* background: khaki; */
  /* padding: 10px; */
  display: flex;
  flex-direction: column;

  width: 100%;
  /* height: 45px; */

  overflow: hidden;

  & > input {
    background: none;
    height: 25px;
    border-bottom: var(--border);

    &::placeholder {
      color: black;
      /* font-weight: bold; */
    }
    &:focus {
      background: khaki;
      outline: none;
    }
    &:hover {
      background: khaki;
    }
  }

  & > span {
    /* background: aqua; */
    padding-top: 2px;
    opacity: 1;
    font-size: 11px;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.buttom_form_container {
  /* background: red; */
  display: flex;
  flex-direction: row-reverse;
}

.button_form {
  background: yellow;
  border: var(--border);
  border-radius: 10px;
  height: 30px;
  width: 130px;

  &:hover {
    background: rgb(216, 216, 54);
  }
}
